// Tipografía
$fuente_principal: 'Montserrat', sans-serif;


// Colores
$verde-marino: #969696;
$rosa: #F53756;
$amarillo: #FEF46D;
$morado: #752F97;
$negro: #000;
$negro-claro: #131313;
$blanco: #FFF;
$azul: #3f33ec;
$gris-claro : #e1e1e1;